.location-icon {
  background: url(../imgs/template/icons/location.svg) no-repeat 0px 5px;
  display: inline-block;
  padding: 0px 0px 0px 20px;
  background-size: 15px;
}
.email-icon {
  background: url(../imgs/template/icons/email.svg) no-repeat 0px 5px;
  background-size: 15px;
  display: inline-block;
  padding: 0px 0px 0px 20px;
}
.time-icon {
  background: url(../imgs/template/icons/time-icon.svg) no-repeat 0px 5px;
  background-size: 15px;
  display: inline-block;
  padding: 0px 0px 0px 20px;
}
.people-icon {
  background: url(../imgs/template/icons/people-icon.svg) no-repeat 0px 5px;
  background-size: 15px;
  display: inline-block;
  padding: 0px 0px 0px 20px;
}
.phone-icon {
  background: url(../imgs/template/icons/phone.svg) no-repeat 0px 5px;
  background-size: 15px;
  display: inline-block;
  padding: 0px 0px 0px 20px;
}
.money-icon {
  background: url(../imgs/template/icons/money-icon.svg) no-repeat 0px 5px;
  background-size: 15px;
  display: inline-block;
  padding: 0px 0px 0px 20px;
}
.experience-icon {
  background: url(../imgs/template/icons/experience-icon.svg) no-repeat 0px 5px;
  background-size: 15px;
  display: inline-block;
  padding: 0px 0px 0px 20px;
}
